@inject IViewLocalizer Localizer
@model List<BlogPost>

@{
    ViewBag.Title = Localizer["PageTitle"];
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1>@Localizer["PageTitle"]</h1>
            <p>@string.Format(Localizer["TotalPosts"].Value, Model.Count())</p>
            <p>@Html.ActionLink(Localizer["AddPost"].Value, "CreateBlogPost", "Admin", new { @class = "btn btn-success" })</p>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-bordered">
                <tr>
                    <th style="width:15%;">@Localizer["Id"]</th>
                    <th style="width:20%;">@Localizer["Title"]</th>
                    <th style="width:25%;">@Localizer["FirstImage"]</th>
                    <th style="width:25%;">@Localizer["SecondImage"]</th>
                    <th style="width:15%;">@Localizer["Actions"]</th>
                </tr>
                @foreach (var blogPost in Model)
                {
                    <tr>
                        <td>@blogPost.Id</td>
                        <td>@blogPost.Title</td>
                        <td>
                            @if (blogPost.FirstImageUrl == null)
                            {
                                <p>@Localizer["NoImageAdded"]</p>
                            }
                            else
                            {
                                <img src="@blogPost.FirstImageUrl" width="192" height="108" alt="blog post"/>
                            }
                        </td>
                        <td>
                            @if (blogPost.SecondImageUrl == null)
                            {
                                <p>@Localizer["NoImageAdded"]</p>
                            }
                            else
                            {
                                <img src="@blogPost.SecondImageUrl" width="192" height="108" alt="blog post"/>
                            }
                        </td>
                        <td>
                            @Html.ActionLink(Localizer["Edit"].Value, "EditBlogPost", new { id = blogPost.Id }, new { @class = "btn btn-success" })
                            @using (Html.BeginForm("DeleteBlogPost", "Admin", FormMethod.Post))
                            {
                                @Html.Hidden("id", blogPost.Id)
                                <input type="submit" class="btn btn-danger" value="@Localizer["Delete"]"/>
                            }
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>