<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <meta name="description" content="Кенгурятники, окантовки, задние защиты, пороги, дуги пикапов, и прочие изделия из высококачественной нержавеющей стали под заказ в Харькове. Доставка по всей Украине.">
    <meta name="keywords" content="обвес, кенгурятник, пороги, нержавейка, защита бампера, обвес Харьков, кузовные дуги">
    <link rel="icon" href="~/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="~/css/site.css"/>
    <link rel="stylesheet" href="~/css/animate.css"/>
    <link rel="stylesheet" href="~/lib/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/lib/font-awesome.css"/>
    <link rel="stylesheet" href="~/lib/vanillabox/vanillabox.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">
    <script type="text/javascript" src="~/lib/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery.vanillabox-0.1.7.min.js"></script>
    <!-- Google Tag Manager -->
    <script>
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-WVPWBS3J');
    </script>
    <!-- End Google Tag Manager -->
</head>

<body>

<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WVPWBS3J" height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->

<header>
    <nav class="nav navbar-default navbar-fixed-top">
        <div class="container">
            <div class="col-md-12">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mynavbar" aria-expanded="false" aria-controls="navbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="@Url.Action("Index", "Home")" class="navbar-brand">Автообвес</a>
                </div>
                <div class="collapse navbar-collapse navbar-right" id="mynavbar">
                    <ul class="nav navbar-nav">
                        <li><a href="tel:097-461-50-35">097-461-50-35</a></li>
                        <li>@Html.ActionLink("Главная", "Index", "Home")</li>
                        <li>@Html.ActionLink("Наши работы", "Categories", "Home")</li>
                        <li>@Html.ActionLink("Контакты", "Contacts", "Home")</li>
                        <li>@Html.ActionLink("Блог", "Blog", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>

@RenderBody()

<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 contacts-wrapper">
                <p>Все права защищены avtoobves.com.ua&copy;</p>
                <p>This website is created by maxon_adc</p>
                <p>Icons made by Freepik from <a class="anchor-reverse" href="http://www.flaticon.com/">www.flaticon.com</a></p>
            </div>
            <div class="col-xs-12 col-sm-3 contacts-wrapper">
                <p><span class="glyphicon glyphicon-flag"></span> Адрес:</p>
                <p>Харьков, Украина</p>
                <p>Улица Григоровская 66/2</p>
            </div>
            <div class="col-xs-12 col-sm-3 contacts-wrapper">
                <p><span class="address-icon glyphicon glyphicon-phone-alt"></span> Контакты:</p>
                <p><a href="tel:097-461-50-35">097-461-50-35 (Киевстар)</a></p>
                <p><a href="mailto:info@avtoobves.com.ua">info@avtoobves.com.ua</a></p>
            </div>
        </div>
    </div>
</footer>

<script type="text/javascript" src="~/lib/jquery.unobtrusive-ajax.js"></script>
<script type="text/javascript" src="~/lib/jquery.easing.min.js"></script>
<script type="text/javascript" src="~/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="~/js/wow.js"></script>
<script type="text/javascript" src="~/js/site.js"></script>
<script type="text/javascript" src="~/js/carousel.js"></script>

</body>
</html>