@{
    ViewBag.Title = L["PageTitle_Contacts"].Value;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="site-content address">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-12 text-center wow fadeInLeft delay-01s">
                <h1>@L["Contacts_AddressHeading"]</h1>
                <hr class="hr-center"/>
                <span class="address-icon glyphicon glyphicon-globe"></span><br/>
                <p>
                    @L["Contacts_City"]<br/>
                    @L["Contacts_District"]<br/>
                    @L["Contacts_Metro"]<br/>
                    @L["Contacts_Street"]<br/>
                    <strong>@L["Contacts_Delivery"]</strong>
                </p>
            </div>
            <div class="col-lg-6 col-sm-12 text-center wow fadeInRight delay-01s">
                <h1>@L["Contacts_CommunicationHeading"]</h1>
                <hr class="hr-center"/>
                <span class="address-icon glyphicon glyphicon-earphone"></span><br/>
                <p><a href="tel:097-461-50-35">097-461-50-35 (Киевстар)</a></p>
                <span class="address-icon glyphicon glyphicon-envelope"></span><br/>
                <p><a href="mailto:info@avtoobves.com.ua">info@avtoobves.com.ua</a></p>
            </div>
        </div>
        <div id="map" style="height:400px; width:100%;">

        </div>
    </div>
</section>

<script>
    function initMap() {
        var place = { lat: 49.9789373, lng: 36.1964004 };
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 13,
            center: place
        });
        var marker = new google.maps.Marker({
            position: place,
            map: map
        });
    }
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB9WAVSF4YvCHidqHRIEHEpAG1CvUXso7M&callback=initMap"></script>