@{
    ViewBag.Title = Localizer["PageTitle"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="welcome">
    <div class="container text-center">
        <div class="text-welcome wow fadeInUp delay-01s">
            <h3 class="title">@Localizer["HeroTitle"]</h3>
            <h1>@Localizer["HeroSubtitle"]</h1>
        </div>
    </div>
</section>

<section class="products">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 wow fadeInLeft delay-01s">
                <div id="carousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="item active" data-thumb="0">
                            <img src="https://d1ucqhcti31ovy.cloudfront.net/general/carousel_1.jpg" alt="Automotive protection products">
                        </div>
                        <div class="item" data-thumb="0">
                            <img src="https://d1ucqhcti31ovy.cloudfront.net/general/carousel_2.jpg" alt="Vehicle protection systems">
                        </div>
                        <div class="item" data-thumb="0">
                            <img src="https://d1ucqhcti31ovy.cloudfront.net/general/carousel_3.jpg" alt="Car protection equipment">
                        </div>
                        <div class="item" data-thumb="0">
                            <img src="https://d1ucqhcti31ovy.cloudfront.net/general/carousel_4.jpg" alt="Automotive safety accessories">
                        </div>
                        <div class="item" data-thumb="1">
                            <img src="https://d1ucqhcti31ovy.cloudfront.net/general/carousel_5.JPG" alt="Vehicle guard systems">
                        </div>
                        <div class="item" data-thumb="1">
                            <img src="https://d1ucqhcti31ovy.cloudfront.net/general/carousel_6.jpg" alt="Car body protection">
                        </div>
                        <div class="item" data-thumb="1">
                            <img src="https://d1ucqhcti31ovy.cloudfront.net/general/carousel_7.jpg" alt="Automotive shields">
                        </div>
                        <div class="item" data-thumb="1">
                            <img src="https://d1ucqhcti31ovy.cloudfront.net/general/carousel_8.jpg" alt="Vehicle protection solutions">
                        </div>
                    </div>
                </div>
                <div class="clearfix">
                    <div id="thumbcarousel" class="carousel slide" data-interval="false">
                        <div class="carousel-inner">
                            <div class="item active">
                                <div data-target="#carousel" data-slide-to="0" class="thumb">
                                    <img src="https://d1ucqhcti31ovy.cloudfront.net/general/carousel_1.jpg" alt="Thumbnail: Automotive protection products">
                                </div>
                                <div data-target="#carousel" data-slide-to="1" class="thumb">
                                    <img src="https://d1ucqhcti31ovy.cloudfront.net/general/carousel_2.jpg" alt="Thumbnail: Vehicle protection systems">
                                </div>
                                <div data-target="#carousel" data-slide-to="2" class="thumb">
                                    <img src="https://d1ucqhcti31ovy.cloudfront.net/general/carousel_3.jpg" alt="Thumbnail: Car protection equipment">
                                </div>
                                <div data-target="#carousel" data-slide-to="3" class="thumb">
                                    <img src="https://d1ucqhcti31ovy.cloudfront.net/general/carousel_4.jpg" alt="Thumbnail: Automotive safety accessories">
                                </div>
                            </div><!-- /item -->
                            <div class="item">
                                <div data-target="#carousel" data-slide-to="4" class="thumb">
                                    <img src="https://d1ucqhcti31ovy.cloudfront.net/general/carousel_5.JPG" alt="Thumbnail: Vehicle guard systems">
                                </div>
                                <div data-target="#carousel" data-slide-to="5" class="thumb">
                                    <img src="https://d1ucqhcti31ovy.cloudfront.net/general/carousel_6.jpg" alt="Thumbnail: Car body protection">
                                </div>
                                <div data-target="#carousel" data-slide-to="6" class="thumb">
                                    <img src="https://d1ucqhcti31ovy.cloudfront.net/general/carousel_7.jpg" alt="Thumbnail: Automotive shields">
                                </div>
                                <div data-target="#carousel" data-slide-to="7" class="thumb">
                                    <img src="https://d1ucqhcti31ovy.cloudfront.net/general/carousel_8.jpg" alt="Thumbnail: Vehicle protection solutions">
                                </div>
                            </div><!-- /item -->
                        </div><!-- /carousel-inner -->
                        <a class="left carousel-control" href="#thumbcarousel" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#thumbcarousel" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div> <!-- /thumbcarousel -->
                </div><!-- /clearfix -->
            </div> <!-- /col-sm-6 -->
            <div class="col-sm-6 wow fadeInRight delay-01s">
                <h1 class="visible-md visible-lg">@Localizer["HeroTitleLarge"]</h1>
                <h1 class="text-center visible-sm visible-xs">@Localizer["HeroTitleSmall"]</h1>
                <h3 class="visible-md visible-lg">@Localizer["AboutTitle"]</h3>
                <h3 class="text-center visible-sm visible-xs">@Localizer["AboutTitle"]</h3>
                <hr class="visible-md visible-lg"/>
                <hr class="hr-center visible-sm visible-xs"/>
                <p>@Localizer["AboutTextParagraph1"]</p>
                <p>@Localizer["AboutTextParagraph2"]</p>
                <p>@Localizer["AboutTextParagraph3"]</p>
                <p>@Localizer["AboutTextParagraph4"]</p>
                <p>@Localizer["AboutTextParagraph5"]</p>
            </div> <!-- /col-sm-6 -->
        </div> <!-- /row -->
    </div> <!-- /container -->
</section>

<section class="scroller">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-12 text-center">
                <div class="scroller-text">
                    <h3>@Localizer["LatestWorksTitle"]</h3>
                    <h1>@Localizer["LatestWorksDescription"]</h1>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12 text-center">
                @{
                    var currentPath = Context.Request.Path.Value;
                    var currentCulture = currentPath.StartsWith("/uk/") || currentPath == "/uk" ? "uk" : "ru";
                }
                <h4><a href="@Url.Action("Categories", "Home", new { culture = currentCulture })" class="ghost-button">@Localizer["ViewAllWorks"]</a></h4>
            </div>
        </div>
    </div>
</section>

<section class="benefits">
    <div class="container">
        <div class="row">
            <div class="benefits-wrapper col-md-6 col-xs-12 wow fadeInLeft delay-01s">
                <h1 class="txt-tl">@Localizer["Service1Title"]</h1>
                <div class="benefit">
                    <div class="benefit-left">
                        <img src="https://d1ucqhcti31ovy.cloudfront.net/general/design.png" alt="Design service icon"/>
                    </div>
                    <div class="benefit-right">
                        <p>@Localizer["Service1Description"]</p>
                    </div>
                </div>
            </div>

            <div class="benefits-wrapper col-md-6 col-xs-12 wow fadeInRight delay-01s">
                <h1 class="txt-tl">@Localizer["Service2Title"]</h1>
                <div class="benefit">
                    <div class="benefit-left">
                        <img src="https://d1ucqhcti31ovy.cloudfront.net/general/material.png" alt="Material service icon"/>
                    </div>
                    <div class="benefit-right">
                        <p>@Localizer["Service2Description"]</p>
                    </div>
                </div>
            </div>

            <div class="benefits-wrapper col-md-6 col-xs-12 wow fadeInLeft delay-01s">
                <h1 class="txt-tl">@Localizer["Service3Title"]</h1>
                <div class="benefit">
                    <div class="benefit-left">
                        <img src="https://d1ucqhcti31ovy.cloudfront.net/general/setup.png" alt="Setup service icon"/>
                    </div>
                    <div class="benefit-right">
                        <p>@Localizer["Service3Description"]</p>
                    </div>
                </div>
            </div>

            <div class="benefits-wrapper col-md-6 col-xs-12 wow fadeInRight delay-01s">
                <h1 class="txt-tl">@Localizer["Service4Title"]</h1>
                <div class="benefit">
                    <div class="benefit-left">
                        <img src="https://d1ucqhcti31ovy.cloudfront.net/general/repair.png" alt="Repair service icon"/>
                    </div>
                    <div class="benefit-right">
                        <p>@Localizer["Service4Description"]</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    (function ($) {
        $('#thumbcarousel').carousel(0);
        var $thumbItems = $('#thumbcarousel .item');
        $('#carousel').on('slide.bs.carousel', function (event) {
            var $slide = $(event.relatedTarget);
            var thumbIndex = $slide.data('thumb');
            var curThumbIndex = $thumbItems.index($thumbItems.filter('.active').get(0));
            if (curThumbIndex > thumbIndex) {
                $('#thumbcarousel').one('slid.bs.carousel', function (event) {
                    $('#thumbcarousel').carousel(thumbIndex);
                });
                if (curThumbIndex === ($thumbItems.length - 1)) {
                    $('#thumbcarousel').carousel('next');
                } else {
                    $('#thumbcarousel').carousel(numThumbItems - 1);
                }
            } else {
                $('#thumbcarousel').carousel(thumbIndex);
            }
        });
    })(jQuery);
</script>